

<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="name" class="form-label">Event Name*</label>
      <%= form.text_field :name, class: "form-control", id: "name" %>
    </div>
    <div class="col-md-6">
      <label for="location" class="form-label">Event location*</label>
      <%= form.text_field :location, class: "form-control", id: "location" %>
    </div>
    
  </div>
  <div class="mb-3">
  <label for="description" class="form-label">Event Description*</label>
  <%= form.text_area :description, class: "form-control", id: "description", rows: 3 %>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="startdate" class="form-label">Event Start Date* (YYYY-MM-DD)</label>
      <%= form.text_field :start_date, class: "form-control datepicker", id: "startdate" %>
    </div>
    <div class="col-md-6">
      <label for="starttime" class="form-label">Event Start Time* (00:00)</label>
      <%= form.text_field :start_time, class: "form-control", id: "starttime" %>
    </div>
    
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="enddate" class="form-label">Event End Date* (YYYY-MM-DD)</label>
      <%= form.text_field :end_date, class: "form-control datepicker", id: "enddate" %>
    </div>
    <div class="col-md-6">
      <label for="endtime" class="form-label">Event End Time* (00:00)</label>
      <%= form.text_field :end_time, class: "form-control", id: "endtime" %>
    </div>
    
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="category" class="form-label">Event Category*</label>
      <%= form.select(:category_id, options_from_collection_for_select(Category.all, :id, :title), {include_blank: "Select Category"}, { :class => 'form-select', :id => 'category' }) %>
    </div>
    <div class="col-md-6" id="eventprice" style="display:none">
      <label for="price" class="form-label">Event Amount*</label>
      <%= form.number_field :amount, class: "form-control", id: "price" %>
    </div>
  </div>
  <div>
  <%= form.hidden_field :paid, value: 0, id: "hidden" %>
  </div>
  
  <div class="mb-3 form-check">
  <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Paid
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked onclick="abc()">
  <label class="form-check-label" for="flexRadioDefault2">
    Free
  </label>
</div>
  </div>
  <%= form.submit 'Create Event', class: 'btn btn-primary' %>
<% end %>
