<div id="layoutSidenav_content">
    <main>
        <p id="notice"><%= notice %></p>
        <div class="container-fluid px-4">
        <%= link_to 'Add New Event', new_event_path, class: "btn btn-primary pull-right" %>
            <h1 class="mt-4">Events</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="<%= root_path %>">Dashboard</a></li>
                <li class="breadcrumb-item active">Events</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    Events is a third party plugin that is used to generate the demo table below
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    My Events
                </div>

                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Location digest</th>
                            <th>Category</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Paid</th>
                            <th colspan="3"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @events.each do |event| %>
                              <tr>
                              <td><%= event.name %></td>
                              <td><%= event.description %></td>
                              <td><%= event.location %></td>
                              <td><%= event.category %></td>
                              <td><%= event.start_date %></td>
                              <td><%= event.end_date %></td>
                              <td><%= event.start_time %></td>
                              <td><%= event.end_time %></td>
                              <td><%= event.paid == true ? 'YES' : 'NO' %></td>
                              <td><%= link_to 'Show', event %></td>
                              <td><%= link_to 'Edit', edit_event_path(event) %></td>
                              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                            <% end %>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2021</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
